//variables
$color-principal: rgb(165, 77, 77);

body{
    background-color: rgb(209, 230, 223);
}
h1{
    color: $color-principal;
    font-family: 'Times New Roman', Times, serif;
}

button{
    background-color: aqua;

}
